body {
    padding: 0 2.5vw 2.5vw 2.5vw;
    display: flex;
    gap: 2vw;
    flex-direction: column;
}

ul,
ol,
h1 {
    margin: 0;
}

img {
    width: 50vw;
    height:auto;
    border: 2px solid black;
}

.text {
    font-family: Arial, Verdana, sans-serif;
    font-size: large;
}

.text.heading {
    font-size: x-large;
}

.text.small {
    font-size: medium;
}

.text.button {
    background-color: rgb(185, 185, 185);
    color: black;
    padding: .5vw 1vw;
    border-radius: .5vw;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    cursor: pointer;
}

